<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<title>Admin Home Page</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css" />
	
</h:head>
<h:body>
	<h2>Admin Home Page</h2>
	<h1>Welcome to Easkey surf school: #{loginBean.email}</h1>
	<h:form>
		<p:growl id="message" showDetail="true" />
		
		<p:commandButton value="Logout"  action="#{logoutBean.logOut}" update="message" class="button">  
			<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
		</p:commandButton>
		
		
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="Yes" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				
			<p:commandButton value="No" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
		
		
		<h:outputLabel style="color:blue;">Update Billing</h:outputLabel>
		
		
	<h:dataTable value="#{userdata.users}" var="user"
					
					  styleClass="nameTable"
					  headerClass="nameTableHeader"
					  rowClasses="nameTableOddRow,nameTableEvenRow">
				<table>
		<h:column>
			<f:facet name="header">Name  </f:facet>
			#{user.firstname}  #{user.lastname}
		</h:column>	
				
		<h:column>
			<f:facet name="header">Packages   </f:facet>
			#{user.packages}
		</h:column>	
		<h:column>
			<f:facet name="header">Bill   </f:facet>
			<h:inputText value="#{user.bill}" rendered="#{user.canEdit}"/>
			<h:outputText value="#{user.bill}" rendered="#{not user.canEdit}"/>
			
		</h:column>	
	
		<h:column>
			<f:facet name="header">Quantity</f:facet>
			<h:inputText value="#{user.quantity}" rendered="#{user.canEdit}"/>
			<h:outputText value="#{user.quantity}" rendered="#{not user.canEdit}"/>
			
						
		</h:column>
		<h:column>
			<f:facet name="header">Total </f:facet>
			<h:inputText value="#{user.total}" rendered="#{user.canEdit}"/>
			<h:outputText value="#{user.total}" rendered="#{not user.canEdit}"/>			
		</h:column>
		
		<h:column>
				<f:facet name="header">Action </f:facet>
				<h:commandLink value="Update" action="#{userdata.editUser(user)}"
				rendered="#{not userData.canEdit}" />
			</h:column>
	</table>
	</h:dataTable>
	
	<h:commandButton value="save changes" action="#{userdata.saveAction}" class="save"/>
		
	</h:form>
</h:body>
</html>
