.boxclass{
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color:darkcyan;
    
    margin-top: 20px;
    margin-left: 150px;

    padding-top: 0.5em;
    padding-inline-start: 2em;
    padding-inline-end: 1em;

    width: 800px;
    height: 250px;

    background-color: lightblue;
    
    -webkit-box-shadow: 5px 5px 15px 5px lightgrey; 
    box-shadow: 5px 5px 15px 5px rgb(206, 188, 223);

    border: 5px hidden;
    border-radius: 15px 15px 15px 15px;
 }
.buttonclass {
	color: #0099CC; 
	/* Text color */
	background: grey; /* Remove background color */
	border: 2px solid #0099CC; /* Border thickness, line style, and color */
	border-radius: 20px; /* Adds curve to border corners */
	text-decoration: none;
	text-transform: uppercase; /* Make letters uppercase */
	border: none;
	color:black;
	padding: 15px 15px;
	text-align: center;
	float: right;
	display: display-box;
    position: static;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
head{
	text-align: center;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-style: italic;
}


h2{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-style: italic;
   
}
h1{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-style: italic;
}

