<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
<h:head>
	<title>User Home Page</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css" />
	
</h:head>
<h:body>
	<h2>User Home Page</h2>
	<h1>Welcome  #{loginBean.email} to EasKey Surf School </h1>
	
	<h:form>
		<p:growl id="message" showDetail="true" />
		
		<p:commandButton value="Logout"  action="#{logoutBean.logOut}" update="message" >  
			<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />

		</p:commandButton>
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			<p:commandButton value="Yes" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="No" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>
	</h:form>
</h:body>
</html>
