<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
    
    <title>Easkey Surf School</title>
    <link rel="stylesheet" type="text/css" href="box_ex.css"/>
    <style>
    body{
        background-image:url("thomas-ashlock-7G5dkthFyxA-unsplash.jpg");
        background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: cover;
    }
    </style>
    </h:head>
<body>

<h:form>

	<h:head>
		<f:facet name="header">
  		<p:outputPanel style="float: left">        
    		<h:outputText value="Easkey Surf School"  style="width:250px"/>
      
  		</p:outputPanel>
</f:facet>
	</h:head>
	<p:menubar>
        <p:submenu label="About Us">
        <p:menuitem onclick="" value="About Us" />
    </p:submenu>
    <p:submenu label="Surf Pacakges">
        <p:menuitem value="Packages" url="packages.html" />
    </p:submenu>
    <p:submenu label="Bookings">
        <p:menuitem value="Orders"  />
    </p:submenu>
    <p:submenu label="Login /Registration">
        <p:menuitem value="Login" url="Login.xhtml" />
        <p:menuitem value="Registration" url="Registration.xhtml" />
    </p:submenu>
    <p:submenu label="Contact Us">
        <p:menuitem value="contact Us" url="contact.html"/>
        <p:menuitem value="Enquire"  url="enquire.html"/>
        <p:menuitem value="Testimonials" url="index.html" />
     </p:submenu>
</p:menubar>
</h:form>
</body>
</html>