<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
</h:head>
<body>
<h:form>
	<h1>Welcome to Easkey Surf school</h1>
	<h2>Login or Register below</h2>
	<div id="divbuttons">
	<p:commandButton value="Login" action="Login" ajax="false" style=";height:30px; width:100px;font-size: 12px;"/>
	<p:commandButton value="Register" action="Registration" ajax="false" style="height:30px; width:100px;font-size: 12px;" />
	</div>

	
	
</h:form>
</body>
</html>