<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
</h:head>
<body>
<h:form>
	<div id="divbuttons">
	<table width="600">
	<tbody align="center">
	<tr>
	<td><p:messages/></td>
	</tr>
	<tr>
	<td><p:outputLabel value="Email: " /></td>
<td>
	<p:inputText required="true" validatorMesssage="Invalid email format" requiredMessage="please enter your email address" value="#{loginBean.email}">
	<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" /> 
	</p:inputText></td>
	 </tr>    
	<tr>
	
	<td><p:outputLabel value="Password: " /></td>
	<td>
	<p:password feedback="true" inline="true" required="true" validatorMesssage="require length 6" requiredMessage="please enter your password" value="#{loginBean.password}">
	<f:validateLength  minimum="6"/>
	</p:password></td>
	</tr>
	<tr >
	
	<td align="center" colspan="2" style="padding-top:20px;"><p:commandButton value="Login" action="#{loginBean.validateUserLogin}" ajax="false" />
	<span style="padding-left:20px;"><p:link value="Reset Password" href="ResetPassword.xhtml"></p:link></span>
	</td>
	</tr>
	</tbody>
	</table>
	</div>
</h:form>
</body>
</html>