<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>My Application</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css" />
	
</h:head>
<body>
<h:form>
	<h3>Welcome To EaskeySurfSchool</h3>
	<h4><h:outputText value="You have successfully logged out and redirected to the Main page of EaskeySurfSchool"/></h4>


</h:form>	
</body>
</html>
