<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
</h:head>
<body>
<h:form>
	 <div id="divbuttons"> 
	<p:messages/>
	<p:outputLabel value="Firstname: " />
	<p:inputText value="#{registrationBean.firstname}" /><br/>   
	
	<p:outputLabel value="Lastname: " />
	<p:inputText value="#{registrationBean.lastname}" /><br/> 
	
	<p:outputLabel value="Phone Number: " />
	<p:inputText value="#{registrationBean.phonenum}" /><br/>
	 
	<p:outputLabel value="Address: " />
	<p:inputText value="#{registrationBean.address}" /><br/>
	
	<p:outputLabel  value="Email: " />
	<p:inputText required="true" validatorMesssage="Invalid email format" requiredMessage="please enter your email address" value="#{registrationBean.email}">
	<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" /> 
	</p:inputText><br/>
	
	<p:outputLabel value="Password: " />
	<p:password feedback="true" inline="true" required="true" validatorMesssage="require length 6" requiredMessage="please enter your password" value="#{registrationBean.password}">
	<f:validateLength minimum="6" />
	</p:password><br/>
	<p:outputLabel value="Confirm Password: " />
	<p:password feedback="true" inline="true" required="true" validatorMesssage="require length 6" requiredMessage="please enter confirm password" value="#{registrationBean.password1}">
	<f:validateLength minimum="6"/>
	
	</p:password><br/>
	<p:commandButton value="Register" action="#{registrationBean.createUser}" ajax="false" />
	</div>
</h:form>
</body>
</html>