<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Reset Password</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css" />
</h:head>
<body>
<h:form styleClass="boxstyle" id="boxstyle">
	<div id="divbuttons">
	<table>
	<tr>
	<td><p:messages/></td>
	</tr>
	<tr>
	<td>
		<p:outputLabel value="Username: " />
		<p:inputText required="true" validatorMesssage="Invalid email format" requiredMessage="please enter your email address" value="#{resetPwdBean.email}">
		<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" /> 
		</p:inputText>
	</td>
	</tr>
	<tr>
	<td>
	<p:outputLabel value="New Password: " />
	<p:password feedback="true" inline="true" required="true" validatorMesssage="require length 6" requiredMessage="please enter your password" value="#{resetPwdBean.newpassword}">
	
	</p:password>
	</td>
	</tr>
	<tr>
	<td>
	<p:outputLabel value="Confirm New Password: " />
	<p:password feedback="true" inline="true" required="true" validatorMesssage="require length 6" requiredMessage="please enter your password" value="#{resetPwdBean.newpassword1}">
	
	</p:password>
	</td>
	</tr>
	<tr>
	<td>
	<p:commandButton value="Reset Password" action="#{resetPwdBean.passwordChange()}" ajax="false" />
	</td>
	</tr>
	</table>
	</div>
</h:form>
</body>
</html>