#divbuttons{
	border:solid;
	border-width:2px;
	border-color:#0000ff;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	padding-right:12px;
	padding-left:12px;
	margin:150px;
	margin-top:40px;
	background-color:orange;
}
h1{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: blue;
    font-style: italic;
   
}
h2{
    text-align: left;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: green;
    font-style: italic;
   
}
h3{
    text-align: center;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: blue;
    font-style: italic;
   
}
h4{
    text-align: left;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
    color: green;
    font-style: italic;
   
}

.button {
	position:fixed;
	right:10px;
	top:5px;
}

.save{
	position:fixed;
	margin-top: 50px;
	background-color: green;
	color: white;
}
table{
  border-collapse: separate;
  border-spacing: 25px 0;
  
  
}

facet{
  text-align: left;

}
